@tailwind base;
@tailwind components;
@tailwind utilities;

/* # SCSS */
/* @import "~react-image-gallery/styles/scss/image-gallery.scss"; */

/* # CSS */
@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background: #faebd7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {
  .text-overlay {
    @apply absolute flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto;
  }
}

.transition-show-info {
  max-height: 1000px; /* Adjust this value as needed */
  transition: max-height 0s ease-in-out;
  overflow: hidden;
}

.transition-hide-info {
  max-height: 0;
  transition: max-height 2s ease-in-out;
  overflow: hidden;
}

.fa.fa-angle-down {
  transition: transform 1s ease;
}

.rotate-up {
  transform: rotate(-180deg);
  position: relative;
  z-index: 1;
}

.rotate-down {
  transform: rotate(0deg);
  position: relative;
  z-index: 1;
}

.info-small-container {
  transition-timing-function: ease-out;
  transition: 1.5s ease;
  transform: translateY(-100%);
  position: relative;
  height: 150px;
  z-index: -1;
}

.info-container {
  transition-timing-function: ease-out;
  transition: 2s ease;
  transform: translateY(0%);
  position: relative;
  z-index: -1;
  height: 160px;
}

.arrow-up {
  transition-timing-function: ease-out;
  transition: 1.5s ease;
  /* transform: translateY(-350%); */
  background: #333333;

  @media (width >= 1200px) {
    transform: translateY(-370%);
  }

  @media (900px <= width <= 1199px) {
    transform: translateY(-910%);
  }

  @media (width < 900px) {
    transform: translateY(-1200%);
  }
}

.large-screen {
  @media (max-width: 1200px) {
    display: none;
  }
}

.mid-screen {
  @media (min-width: 1199px) {
    display: none;
  }
  @media (max-width: 900px) {
    display: none;
  }
}

.small-screen {
  @media(min-width: 901px) {
    display: none;
  }
}

.arrow-down {
  transition-timing-function: ease-out;
  transition: 2s ease;
  transform: translateY(0%);
  background: #333333;
  border-bottom: 1px solid black;
}

.arrow-box {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 100%;
  border-bottom: 1px solid black;
}

.general-up {
  transition: 1.5s ease;

  @media (width >= 1200px) {
    transform: translateY(-170px);
  }

  @media (900px <= width <= 1199px) {
    transform: translateY(-440px);
  }

  @media (width < 900px) {
    transform: translateY(-580px);
  }
}

.general-down {
  transition: 2s ease;
  transform: translateY(0%);
}

.logo-box {
  height: 200px;
  width: 500px;
  margin-left: 50px;
}

.paperbackExchange-box {
  height: 200px;
  width: 200px;
  margin-right: 100px;
}

.carousel-box {
  width: 50%;
}

.header-carousel {
  border-bottom: 5px solid rgba(246,104,12,255);
}

.footer-color {
  background: #333333;
}

.color-white {
  color: white
}

.background-info {
  display: flex;
  height: auto;
  background-color: #8b83837e;
  @media (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
  }
}

.image-container {
  display: flex;
}

.background-img {
  height: 300px;
  display: flex;
  z-index: 5;
  @media(max-width: 901px) {
    height: 450px;
  }
}

.background-text-container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 10;
  height: 300px;
  border: 1px solid black;
  @media(max-width: 901px) {
    height: 450px;
  }
}

.background-image-text {
  display: flex;
  color: white;
  font-size: 100px;
  background: rgba(255, 68, 0, 0.486);
  border-radius: 15px;
  height: 90%;
  width: 95%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-details {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 10px;
}

/* Antique white  FAEBD7
  Light Coral F6828C
  Jet 333333
  Cornel red B3001B
  Amethyst 7871AA
*/
